<header>
  <ul>
    <li><a routerLink="/sample" routerLinkActive="active">00.サンプル</a></li>
  </ul>
  <ul>
    <li><a routerLink="/state" routerLinkActive="active">01.ステート管理</a></li>
    <li><a routerLink="/template-syntax" routerLinkActive="active">02.テンプレート構文</a></li>
    <li>
      03.テンプレート構文 実習
      <ul>
        <li>
          <a routerLink="/template-syntax-a" routerLinkActive="active">問題A</a>
          (<a routerLink="/template-syntax-a-answer" routerLinkActive="active">答え</a>)
        </li>
        <li>
          <a routerLink="/template-syntax-b" routerLinkActive="active">問題B</a>
          (<a routerLink="/template-syntax-b-answer" routerLinkActive="active">答え</a>)
        </li>
        <li>
          <a routerLink="/template-syntax-c" routerLinkActive="active">問題C</a>
          (<a routerLink="/template-syntax-c-answer" routerLinkActive="active">答え</a>)
        </li>
        <li>
          <a routerLink="/template-syntax-d" routerLinkActive="active">問題D</a>
          (<a routerLink="/template-syntax-d-answer" routerLinkActive="active">答え</a>)
        </li>
      </ul>
    </li>
  </ul><ul>
    <li><a routerLink="/method-event" routerLinkActive="active">04.メソッド・イベント</a></li>
    <li><a routerLink="/reactive-binding" routerLinkActive="active">05.双方向バインディング</a></li>
    <li>
      06.関数・イベント 実習
      <ul>
        <li>
          <a routerLink="/method-event-a" routerLinkActive="active">問題A</a>
          (<a routerLink="/method-event-a-answer" routerLinkActive="active">答え</a>)
        </li>
        <li>
          <a routerLink="/method-event-b" routerLinkActive="active">問題B</a>
          (<a routerLink="/method-event-b-answer" routerLinkActive="active">答え</a>)
        </li>
        <li>
          <a routerLink="/method-event-c" routerLinkActive="active">問題C</a>
          (<a routerLink="/method-event-c-answer" routerLinkActive="active">答え</a>)
        </li>
        <li>
          <a routerLink="/method-event-d" routerLinkActive="active">問題D</a>
          (<a routerLink="/method-event-d-answer" routerLinkActive="active">答え</a>)
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li><a routerLink="/mounted" routerLinkActive="active">07.Mounted</a></li>
    <li><a routerLink="/computed-watch" routerLinkActive="active">08.Computed・Watch</a></li>
    <li>
      09.Mounted・Watch実習
      <ul>
        <li>
          <a routerLink="/mounted-watch-a" routerLinkActive="active">問題A</a>
          (<a routerLink="/mounted-watch-a-answer" routerLinkActive="active">答え</a>)
        </li>
        <li>
          <a routerLink="/mounted-watch-b" routerLinkActive="active">問題B</a>
          (<a routerLink="/mounted-watch-b-answer" routerLinkActive="active">答え</a>)
        </li>
        <li>
          <a routerLink="/mounted-watch-c" routerLinkActive="active">問題C</a>
          (<a routerLink="/mounted-watch-c-answer" routerLinkActive="active">答え</a>)
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li><a routerLink="/props" routerLinkActive="active">10.props</a></li>
    <li><a routerLink="/slot" routerLinkActive="active">11.slot</a></li>
    <li><a routerLink="/emit" routerLinkActive="active">12.emit</a></li>
    <li>
      13.Component実習
      <ul>
        <li>
          <a routerLink="/component-a" routerLinkActive="active">問題</a>
          (<a routerLink="/component-a-answer" routerLinkActive="active">答え</a>)
        </li>
      </ul>
    </li>
  </ul>
</header>
<div class="main">
  <router-outlet></router-outlet>
</div>
